# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch
*.cso
*.csh

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Other Files
config.txt
Test.Bfbx

*_DebugStaging/
*_BuiltUnits/
*.VC
*.vs
*.db
*.opendb
*.tmp
*.BSkel
*.BObj
*.Anim
*.vcxproj.user
*.suo
*.exp
MonkeyEngine/MonkeyEngine.VC.db
MonkeyEngine/Editor/MemoryMangerDebug.txt
MonkeyEngine/Editor/MonkeyEngine.dll
MonkeyEngine/Editor/MonkeyEngine.exp
MonkeyEngine/Editor/MonkeyEngine.lib
MonkeyEngine/Editor/MonkeyEngine.pdb
MonkeyEngine/Editor/MonkeyEngine.ilk